.btn {
  min-width: 150px;
  padding: 12px 10px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;

  border: 1px solid #d8d8d8;
  border-radius: 25px;
  background-color:transparent;
}
