.catalog {
  display: flex;
  // justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

@media #{$tablet} {
  .catalog {

  }
}

@media #{$mobile} {
  .catalog {
    justify-content: center;
  }
}
