.main__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  text-align: center;
  color: $color-title;
}

.main__catalog {
  margin-top: 45px;
}

.main__btn {
  display: block;
  margin: 60px auto 0;
}

@media #{$tablet} {
  .main__btn {
    margin: 30px auto 0;
  }
}

@media #{$mobile} {
  .main__form {
    margin: 0 auto;
  }

  .main__title {
    font-size: 24px;
    line-height: 30px;
  }

  .main__btn {
    margin: 20px auto 0;
  }
}
