@font-face {
  font-family: "OpenSans";
  font-weight: 400;
  font-style: normal;
  src: local("OpenSans-regular"),
    url("../fonts/opensans-regular.woff2") format("woff2"),
    url("../fonts/opensans-regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  font-weight: 700;
  font-style: normal;
  src: local("OpenSans-bold"),
    url("../fonts/opensans-bold.woff2") format("woff2"),
    url("../fonts/opensans-bold.woff") format("woff");
  font-display: swap;
}
