body {
  font-family: $font-opensans;
}

.wrapper {
  max-width: 1280px;
  padding: 0 50px;
  margin: 0 auto;

  box-sizing: border-box; 
}

.hidden {
  display: none;
}

@media #{$tablet} {
  .wrapper {
    padding: 0 25px;
  }
}

@media #{$mobile} {
  .wrapper {
    padding: 0 10px;
  }
}
