$font-opensans: 'OpenSans', 'Arial', sans-serif;
$mobile: '(min-width: 400px) and (max-width: 779px)';
$tablet: '(min-width: 780px) and (max-width: 1159px)';
$desktop: '(min-width: 1160px)';
$color-title: #45852D;
