$font-opensans: 'OpenSans', 'Arial', sans-serif;
$mobile: '(min-width: 400px) and (max-width: 779px)';
$tablet: '(min-width: 780px) and (max-width: 1279px)';
$desktop: '(min-width: 1280px)';
$color-title: #45852D;
$color-black: #000000;
